<.live_component module={DpulCollectionsWeb.SearchBarComponent} id="search-bar" />
<main id="main-content" class="bg-background page-y-padding" phx-hook="LocalStateStore">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
