<!DOCTYPE html>
<html lang="en" class="font-sans">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.meta_properties properties={assigns[:meta_properties] || %{}} />
    <.live_title>
      {assigns[:page_title]}
    </.live_title>
    <.google_tag_manager />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <.google_tag_manager_noscript />
    <nav id="skip-link" role="navigation" aria-label={gettext("Skip links")}>
      <a
        class="transition left-0 bg-primary bg-gray-200 text-primary-content absolute p-3 m-3 -translate-y-16 focus:translate-y-0"
        href="#main-content"
      >
        {gettext("Skip To Content")}
      </a>
      <ul
        :if={Application.fetch_env!(:dpul_collections, :feature_account_toolbar)}
        class="menu menu-horizontal w-full relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end"
      >
        <%= if @current_scope do %>
          <li>
            {@current_scope.user.email}
          </li>
          <li>
            <.link href={~p"/users/settings"}>Settings</.link>
          </li>
          <li>
            <.link href={~p"/users/log-out"} method="delete">Log out</.link>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"}>Register</.link>
          </li>
          <li>
            <.link href={~p"/users/log-in"}>Log in</.link>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="flex flex-col min-h-screen" id="app">
      {@inner_content}
    </div>
  </body>
</html>
