<!DOCTYPE html>
<html lang="en" class="font-sans">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      {assigns[:page_title]}
    </.live_title>
    <.google_tag_manager />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <.google_tag_manager_noscript />
    <nav id="skip-link" role="navigation" aria-label={gettext("Skip links")}>
      <a
        class="transition left-0 bg-primary bg-gray-200 text-primary-content absolute p-3 m-3 -translate-y-16 focus:translate-y-0"
        href="#main-content"
      >
        {gettext("Skip To Content")}
      </a>
    </nav>
    <div class="flex flex-col min-h-screen" id="app">
      {DpulCollectionsWeb.HeaderComponent.header(assigns)}
      <!-- "relative" here lets us have absolute layout elements that cover all parts of the page except the header. -->
      <div class="relative flex-1 flex flex-col">
        <div class="flex-1 bg-background">
          {@inner_content}
        </div>
        {DpulCollectionsWeb.FooterComponent.footer(assigns)}
      </div>
    </div>
  </body>
</html>
