<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "DpulCollections" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" href="https://unpkg.com/lux-design-system@5.8.1/dist/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js">
    </script>
    <script src="https://unpkg.com/lux-design-system@5.8.1/dist/lux-styleguidist.iife.js">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        const { createApp } = Vue
        createApp().use(Lux.default).mount('#app')
      });
    </script>
  </head>
  <body class="bg-white antialiased">
    <div class="flex flex-col min-h-screen" id="app">
      <%= raw(DpulCollectionsWeb.LuxComponents.header()) %>
      <div class="flex-1">
        <%= @inner_content %>
      </div>
      <%= raw(DpulCollectionsWeb.LuxComponents.footer()) %>
    </div>
  </body>
</html>
