version: 2.1

description: Common jobs for testing and building phoenix applications
orbs:
  node: circleci/node@7.2.1
executors:
  builder:
    parameters:
      elixir_version:
        type: string
        default: 1.19.5 # datasource=hexpm-bob depName=elixir
      erlang_version:
        type: string
        default: 27.2.2
    docker:
      - image: cimg/elixir:<< parameters.elixir_version >>-erlang-<< parameters.erlang_version >>-browsers
        environment:
          TEST_POSTGRES_PORT: 5432
          TEST_POSTGRES_FIGGY_HOST: figgy_database
          TEST_POSTGRES_FIGGY_PORT: 5432
          SOLR_BASE_URL: http://localhost:8983
          MIX_ENV: test
      - image: cimg/postgres:15.2
      - image: cimg/postgres:15.2
        name: figgy_database
        environment:
          POSTGRES_PASSWORD: "postgres"
      - image: quay.io/pulibrary/ci-solr:9.9-v1.0.2
        command: solr -cloud -noprompt -f -p 8983
        environment:
          SOLR_MODULES: 'analysis-extras,scripting'
          SOLR_CONFIG_LIB_ENABLED: true
          SOLR_SECURITY_MANAGER_ENABLED: false
    working_directory: ~/project
  formatter:
    parameters:
      elixir_version:
        type: string
        default: 1.19.5 # datasource=hexpm-bob depName=elixir
      erlang_version:
        type: string
        default: 27.2.2
    docker:
      - image: cimg/elixir:<< parameters.elixir_version >>-erlang-<< parameters.erlang_version >>-browsers
        environment:
          MIX_ENV: test
    working_directory: ~/project

commands:
  install-deps:
    description: Installs mix and npm dependencies
    parameters:
      include-assets:
        type: boolean
        default: true
    steps:
      - restore_cache:
          keys:
            - v2-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v2-mix-cache-{{ .Branch }}
            - v2-mix-cache
      - run:
          name: Install hex
          command: mix local.hex --force
      - run:
          name: Install rebar
          command: mix local.rebar --force
      - run:
          name: Install mix deps
          command: mix deps.get
      - restore_cache:
          keys:
            - v2-asset-cache-<< parameters.include-assets >>-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v2-asset-cache-<< parameters.include-assets >>-{{ .Branch }}
            - v2-asset-cache-<< parameters.include-assets >>
      - when:
          condition: << parameters.include-assets >>
          steps:
            - node/install:
                node-version: '24.13.0'
            - run:
                name: Install elixir deps
                command: mix assets.setup
      - save_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths:
            - "deps"
            - "_build"
      - save_cache:
          key: v2-mix-cache-{{ .Branch }}
          paths:
            - "deps"
            - "_build"
      - save_cache:
          key: v2-mix-cache
          paths:
            - "deps"
            - "_build"
      - save_cache:
          key: v2-asset-cache-<< parameters.include-assets >>-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths:
            - "~/.cache/ms-playwright"
      - save_cache:
          key: v2-asset-cache-<< parameters.include-assets >>-{{ .Branch }}
          paths:
            - "~/.cache/ms-playwright"
      - save_cache:
          key: v2-asset-cache-<< parameters.include-assets >>
          paths:
            - "~/.cache/ms-playwright"

  mix-format:
    description: Validates code has been formatted with mix format
    steps:
      - run:
          name: Check elixir formatting
          command: mix format --check-formatted --dry-run

jobs:
  check-formatting:
    executor: formatter
    steps:
      - checkout
      - install-deps:
          include-assets: false
      - mix-format

  run-unit-tests:
    executor: builder
    steps:
      - checkout
      - install-deps:
          include-assets: true
      - run: dockerize -wait tcp://localhost:8983 -timeout 1m
      - run:
          name: Load config into solr
          command: |
            SOLR_CONFIG_ROOT=solr/conf SOLR_HOST=localhost:8983 ./bin/setup_solr.sh
      - run:
          name: Setup fixtures
          command: mix fixtures.setup
      - run:
          name: Setup warnings as errors
          command: MIX_ENV=test mix compile --warnings-as-errors
      - run:
          name: Run tests
          command: mix test --trace
      - store_artifacts:
          path: cover
          destination: cover
      - store_artifacts:
          path: screenshots
          destination: screenshots

workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - check-formatting
      - run-unit-tests
