/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "../css/clover.css";
@import "../css/fonts.css";
@import "../css/icons.css";
@source "../css";
@source "../js";
@source "../../lib/dpul_collections_web";
@plugin "@tailwindcss/forms";
@plugin "../tailwind_heroicons.js";
@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

@theme {
  --color-taupe: #f4f2f0;
  --color-wafer-pink: #e2d4c9;
  --color-sage: #d0d3ac;
  --color-dark-sage: #9fa06c;
  --color-light-cloud: #e1e2e5;
  --color-cloud: #c1ccc3;
  --color-rust: #a0562c;
  --color-dark-blue: #3a4151;
  --color-dark-gray: #333333;
  /* Button Text on Dark Blue */
  --color-light-green: #ECF2CB;

  --color-princeton-black: #121212;
  --color-princeton-orange-on-black: rgb(245, 128, 37);

  /* sage mono colors from canva: https://www.canva.com/colors/color-meanings/sage-green/ */

  --color-sage-100: #E8E6DC;
  --color-sage-200: #D6D3C0;
  --color-sage-300: #C4BFA4;
  --color-sage-500: #B2AC88;
  --color-sage-600: #A0996C;
  --color-sage-700: #878057;
  --color-sage-900: #6B6645;

  /* hsl(65, 15%, 70%) */
  --color-dpulc-primary: hsl(65, 15%, 65%);

  /* Some semantic colors */
  --color-background: var(--color-taupe);
  --color-light-text: var(--color-taupe);
  --color-dark-text: var(--color-princeton-black);
  --color-dark-background: var(--color-dark-gray);
  /* brand is the color that's the site's brand - header/footer */
  --color-brand: var(--color-princeton-black);
  /* Primary is calls to action - buttons */
  --color-primary: var(--color-dpulc-primary);
  /* primary-bright is for gentler highlights */
  --color-primary-bright: var(--color-sage-200);
  --color-primary-light: var(--color-sage-100);
  /* Accents are an additional color.
   * Images/highlights/hyperlinks/boxes/cards/etc.
   */
  --color-accent: var(--color-rust);
  /* Accent for buttons when you hover over them. */
  --color-hover-accent: #c5c6b5;
  /* Light accents, currently for tags */
  --color-light-accent: --alpha(var(--color-accent) / 20%);
  --color-search: var(--color-sage-200);
  --color-loud-button: hsl(113, 97%, 24%);

  /* just add poppins on the front of the tailwind default */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* and aleo in front of the serif defaults */
  --font-serif: "Aleo", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  /* text-tiny */
  --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.5rem; 
  --text-tiny--letter-spacing: 0.125rem; 
  --text-tiny--font-weight: 500; 
}

.bg-accent {
  @apply text-light-text;
}

.bg-brand {
  @apply text-light-text;
}

.bg-brand .dropdown-menu{
  @apply text-dark-text;
}

.disabled {
  @apply border-0 border-solid border-(--color-princeton-black) flex justify-center items-center text-center font-bold *:font-bold h-14 text-nowrap uppercase cursor-not-allowed opacity-50 shadow-none;
}

.browse-link {
  padding-left: 60px;
  clip-path: polygon(0 50.72px,50.72px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.diagonal-drop {
  padding-left: 30px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25px 100%);
}

.diagonal-rise {
  padding-left: 30px;
  clip-path: polygon(25px 0%, 100% 0%, 100% 100%, 0 100%);
}

.left-arrow-box {
  clip-path: polygon(100% 0%, 100% 100%, 40px 100%, 0% 50%, 40px 0%);
  @apply pl-[20px] bg-primary border-none hover:bg-[#c5c6b5] flex justify-center items-center w-full h-14;
}

.right-arrow-box {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - 40px) 100%,
    100% 50%,
    calc(100% - 40px) 0%
  );
  @apply pr-[20px] bg-primary border-none hover:bg-[#c5c6b5] flex justify-center items-center w-full h-14;
}

@utility arrow {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.btn-arrow {
  @apply arrow bg-accent cursor-pointer;
}

#search-form:focus-within #search-button {
  visibility: visible;
}

.recent-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr repeat(4, 0px);
  @apply gap-x-6;
}

/*
 * Make LiveView wrapper divs transparent for layout.
 * This makes it possible to use LiveViews as flex children for example.
 */
[data-phx-root-id] { display: contents }

/* This file is for your main application CSS */

/* Helper class for the default table component style that adds
 * rounded corners to the table rows.
 */
@utility rounded-table-corner {
  @apply
    first:before:absolute first:before:h-full first:before:w-4 first:before:top-0 first:before:-left-4 group-hover:first:before:bg-zinc-50 first:before:sm:rounded-l-xl
    last:before:absolute last:before:h-full last:before:w-4 last:before:top-0 last:before:-right-4 group-hover:last:before:bg-zinc-50 last:before:sm:rounded-r-xl;
}

@utility btn-base-behavior {
  &:hover {
    @apply no-underline;
  }
  &:focus {
    @apply enabled:border-0;
  }
  &:active {
    @apply outline-0 border-1 border-solid border-(--color-princeton-black);
    box-shadow: inset 0 2px 4px 0 rgb(18,18,18,0.8);
  }
  &:disabled {
    @apply cursor-not-allowed opacity-50 shadow-none border-0;
  }
}

@utility btn-base {
  @apply btn-base-behavior border-0 flex justify-center items-center text-center font-bold *:font-bold h-14 text-nowrap uppercase cursor-pointer;
}

@utility btn-primary-colors {
  @apply bg-primary text-dark-text disabled:text-dark-gray hover:bg-[#c5c6b5];
}

@utility btn-primary-bright-colors {
  @apply bg-primary-bright text-dark-text disabled:text-dark-gray hover:bg-primary-light;
}

@utility btn-secondary-colors {
  @apply bg-cloud text-dark-text hover:bg-light-cloud disabled:text-dark-gray;
}

@utility btn-primary {
  @apply btn-base btn-primary-colors px-8;
}

@utility btn-secondary {
  @apply btn-base btn-secondary-colors px-8;
}

@utility btn-danger {
  @apply btn-base bg-rust text-light-text hover:enabled:bg-[#c67355] active:enabled:bg-rust px-8;
  &:disabled {
    @apply cursor-not-allowed opacity-50 shadow-none;
  }
}

@utility btn-icon {
  @apply btn-base bg-primary text-center text-tiny;
}

@utility btn-transparent {
  @apply btn-base bg-none text-center;
}

/* action_icon utilities */
@utility item-action-icon {
  @apply hover:text-white hover:bg-accent w-10 h-10 p-2 bg-primary-bright;
}

@utility pane-action-icon {
  @apply text-accent hover:bg-primary-bright w-6 h-6 p-1 bg-background;
}

@utility skip-to-content {
  position: absolute;
  transform: translateY(-150%);
  transition: transform 150ms ease-in;

  &:focus {
    transform: translateY(0);
  }
}

/***
 * page layout utilities
 */
@utility content-area {
  @apply px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto;
}

@utility home-content-area {
  @apply content-area max-w-screen sm:max-w-[80%];
}

@utility header-x-padding {
  @apply px-4 sm:px-8 lg:px-10;
}

@utility header-y-padding {
  @apply py-4;
}

@utility heading-y-padding {
  @apply py-3;
}

@utility header-s-padding {
  @apply ps-6 sm:ps-8 lg:ps-10;
}

@utility header-e-padding {
  @apply pe-6 sm:pe-8 lg:pe-10;
}

/* the same as page-t-padding and page-b-padding */
@utility page-y-padding {
  @apply py-6;
}

/* These are broken out in case top and bottom part of page are different
 * colors */
@utility page-t-padding {
  @apply pt-6;
}
@utility page-b-padding {
  @apply pb-6;
}

/***
 * element utilities
 */

@utility heading {
  @apply uppercase font-semibold text-dark-text;
}

@utility link-hover {
  @apply hover:underline hover:underline-offset-8 hover:decoration-accent hover:decoration-2;
}

@utility filter-link {
  @apply text-accent font-semibold;
}

@utility obfuscate {
  @apply blur-xl;
  clip-path: inset(0);
}

@layer base {
  a {
    @apply hover:link-hover cursor-pointer;
  }

  h1 {
    @apply heading text-2xl;
  }

  h2 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-dark-text;
  }
}

[iconify] {
  background-color: currentColor;
  -webkit-mask-size: cover;
  mask-size: cover;
  min-width: 0.5rem;
  min-height: 0.5rem;
}

/* Change the color of the NProgress Bar to match the design */

#nprogress .bar {
  background: var(--color-rust);
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px var(--color-rust), 0 0 5px var(--color-rust);
}

.corner-cut {
  clip-path: polygon(0 50.72px,50.72px 0,100% 0,100% 50.72px,100% calc(100% - 50.72px),calc(100% - 50.72px) 100%,0 100%,0 calc(100% - 50.72px));
}

/* Prevent page load jank on item page */
.primary-thumbnail img {
    width: 100%;
    height: auto;
}

.card {
  @apply drop-shadow-[0.25rem_0.25rem_0.25rem_var(--color-sage-300)];
  @apply hover:drop-shadow-[0_0_0.7rem_var(--color-sage-600)];
  @apply relative;

  * {
    @apply no-underline;
  }
}

.card-darkdrop {
  @apply drop-shadow-xl;
  @apply hover:drop-shadow-[0_0_0.7rem_var(--color-dark-gray)];

  * {
    @apply no-underline;
  }
}

.card-nodrop {
  * {
    @apply no-underline;
  }
}

/* note you have to use a relative class on the card where
 * you want the link to extend */
.card-link {
  @apply before:content-[''] before:absolute before:inset-0 before:z-[1];
}

.brief-metadata {
 @apply flex-auto flex flex-row gap-4;
}

.brief-metadata > div:not(:last-child) {
  @apply border-e-1 border-search;
}

.brief-metadata > div {
  @apply flex flex-col gap-0 pe-4 py-0 h-min;
}

/* semantic labels for z-index so we can see them at once and make sure they
 * don't interfere with one another */
@utility zi-nav-dropdown {@apply z-100;}
@utility zi-flash {@apply z-50;}
@utility zi-home-callout {@apply z-10;}
@utility zi-card-button {@apply z-100;}

#policies a,
#collection-description.collection-description a {
  @apply text-accent;
}

.contributor-card a {
  @apply underline hover:border-none hover:no-underline;
}

/* Every odd section has a dark background, so change the card backdrop to
 * prevent them from glowing. */
#collection-page > *:nth-child(even) .card {
  @apply drop-shadow-xl drop-shadow-black;
  @apply hover:drop-shadow-[0_0_0.7rem_var(--color-black)];
}
