/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "../css/clover.css";
@import "../css/fonts.css";
@import "../css/icons.css";
@source "../css";
@source "../js";
@source "../../lib/dpul_collections_web";
@plugin "@tailwindcss/forms";
@plugin "../tailwind_heroicons.js";
@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

@theme {
  --color-taupe: #f4f2f0;
  --color-wafer-pink: #e2d4c9;
  --color-sage: #d0d3ac;
  --color-dark-sage: #9fa06c;
  --color-cloud: #c1ccc3;
  --color-rust: #a0562c;
  --color-dark-blue: #3a4151;
  /* Button Text on Dark Blue */
  --color-light-green: #ECF2CB;

  --color-princeton-black: #121212;
  --color-princeton-orange-on-black: rgb(245, 128, 37);

  /* sage mono colors from canva: https://www.canva.com/colors/color-meanings/sage-green/ */

  --color-sage-100: #E8E6DC;
  --color-sage-200: #D6D3C0;
  --color-sage-300: #C4BFA4;
  --color-sage-500: #B2AC88;
  --color-sage-600: #A0996C;
  --color-sage-700: #878057;
  --color-sage-900: #6B6645;

  /* hsl(65, 15%, 70%) */
  --color-dpulc-primary: hsl(65, 15%, 65%);

  /* Some semantic colors */
  --color-background: var(--color-taupe);
  --color-light-text: var(--color-taupe);
  --color-dark-text: var(--color-princeton-black);
  /* brand is the color that's the site's brand - header/footer */
  --color-brand: var(--color-princeton-black);
  /* Primary is calls to action - buttons */
  --color-primary: var(--color-dpulc-primary);
  /* Secondary is for gentler highlights */
  --color-secondary: var(--color-sage-200);
  --color-light-secondary: var(--color-sage-100);
  /* Accents are an additional color.
   * Images/highlights/hyperlinks/boxes/cards/etc.
   */
  --color-accent: var(--color-rust);
  --color-search: var(--color-sage-200);

  /* just add poppins on the front of the tailwind default */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* and aleo in front of the serif defaults */
  --font-serif: "Aleo", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.bg-accent {
  @apply text-light-text;
}

.bg-brand {
  @apply text-light-text;
}

.bg-brand #dropdownMenu{
  @apply text-dark-text;
}

.bg-primary {
  @apply text-dark-text;
}

.browse-link {
  padding-left: 60px;
  clip-path: polygon(0 50.72px,50.72px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.diagonal-drop {
  padding-left: 25px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25px 100%);
}

.left-arrow-box {
  clip-path: polygon(100% 0%, 100% 100%, 40px 100%, 0% 50%, 40px 0%);
  @apply pl-[20px];
}

.right-arrow-box {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(100% - 40px) 100%,
    100% 50%,
    calc(100% - 40px) 0%
  );
  @apply pr-[20px];
}

#search-form:focus-within #search-button {
  visibility: visible;
}

.recent-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr repeat(4, 0px);
  @apply gap-6;
}

/*
 * Make LiveView wrapper divs transparent for layout.
 * This makes it possible to use LiveViews as flex children for example.
 */
[data-phx-root-id] { display: contents }

/* This file is for your main application CSS */

/* Helper class for the default table component style that adds
 * rounded corners to the table rows.
 */
@utility rounded-table-corner {
  @apply
    first:before:absolute first:before:h-full first:before:w-4 first:before:top-0 first:before:-left-4 group-hover:first:before:bg-zinc-50 first:before:sm:rounded-l-xl
    last:before:absolute last:before:h-full last:before:w-4 last:before:top-0 last:before:-right-4 group-hover:last:before:bg-zinc-50 last:before:sm:rounded-r-xl;
}

@utility btn-primary {
  @apply flex items-center justify-center cursor-pointer font-bold *:font-bold uppercase bg-primary text-dark-text h-14 disabled:cursor-not-allowed;
  &.active {
    @apply bg-accent text-light-text;
  }
}

@utility btn-secondary {
  @apply cursor-pointer uppercase border bg-sage text-black;
}

.btn-arrow {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  @apply bg-primary cursor-pointer;
}

/* action_icon utilities */
@utility item-action-icon {
  @apply hover:text-white hover:bg-accent w-10 h-10 p-2 bg-secondary;
}

@utility pane-action-icon {
  @apply text-accent hover:bg-secondary w-6 h-6 p-1 bg-background;
}

@utility skip-to-content {
  position: absolute;
  transform: translateY(-150%);
  transition: transform 150ms ease-in;

  &:focus {
    transform: translateY(0);
  }
}

/***
 * page layout utilities
 */
@utility content-area {
  @apply px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto;
}

@utility home-content-area {
  @apply content-area max-w-screen sm:max-w-[80%];
}

@utility header-x-padding {
  @apply px-4 sm:px-8 lg:px-10;
}

@utility header-s-padding {
  @apply ps-6 sm:ps-8 lg:ps-10;
}

@utility header-e-padding {
  @apply pe-6 sm:pe-8 lg:pe-10;
}

/* the same as page-t-padding and page-b-padding */
@utility page-y-padding {
  @apply py-6;
}

/* These are broken out in case top and bottom part of page are different
 * colors */
@utility page-t-padding {
  @apply pt-6;
}
@utility page-b-padding {
  @apply pb-6;
}

/***
 * element utilities
 */

@utility heading {
  @apply uppercase font-semibold text-dark-text;
}

@utility link-hover {
  @apply hover:underline hover:underline-offset-8 hover:decoration-accent hover:decoration-2;
}

@utility filter-link {
  @apply text-accent font-semibold;
}

@utility obfuscate {
  @apply blur-xl;
  clip-path: inset(0);
}

@layer base {
  a {
    @apply hover:link-hover cursor-pointer;
  }

  h1 {
    @apply heading text-3xl;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  p {
    @apply text-dark-text;
  }
}

[iconify] {
  background-color: currentColor;
  -webkit-mask-size: cover;
  mask-size: cover;
  min-width: 0.5rem;
  min-height: 0.5rem;
}

/* Change the color of the NProgress Bar to match the design */

#nprogress .bar {
  background: var(--color-rust);
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px var(--color-rust), 0 0 5px var(--color-rust);
}

.corner-cut {
  clip-path: polygon(0 50.72px,50.72px 0,100% 0,100% 50.72px,100% calc(100% - 50.72px),calc(100% - 50.72px) 100%,0 100%,0 calc(100% - 50.72px));
}

/* Prevent page load jank on item page */
.primary-thumbnail img {
    width: 100%;
    height: auto;
}
